* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  position: relative;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding-top: 10px;
  font-weight: bolder;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.product-info {
  /* (825 - 8 - 250 - 80 ) / 2 = 243,5 */
  width: 243px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.product-img {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-details {
  width: 243px;
  float: left;;
  margin-left: 40px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  margin-top: 8px;
  float: right;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 25px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 7px 15px;
  /* display: inline-block; 
  VEYA*/
  width: 70px;
  text-align: center;
  /* Konumlandırmak */
  position: absolute;
  top: -15px;
  left: -30px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block; /* yan yana koyabilmek için */
  margin-right: 10px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}

.color-brown {
  background-color: brown;
}
